// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#profile-avatar {
    border-radius: 50%;
    background-image: none;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: local;
    width: 286px;
    height: 286px;
    cursor: pointer;
}
